<!-- adminVerify.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>Admin Verification</title>
    <link rel="stylesheet" href="StyleP.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://dl.dropboxusercontent.com/s/0cuc5nq39d2loqg/bootstrap-tokenfield.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/popper.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Unverified Users</h1>
    <% if (unverifiedUsers.length > 0) { %>
        <ul>
            <% unverifiedUsers.forEach(user => { %>
                <li>
                    <%= user.username %>
                    <form action="/adminVerify/accept" method="post">
                        <input type="hidden" name="userId" value="<%= user._id %>">
                        <button class="btn btn-primary mt-3" type="submit">Accept</button>
                    </form>
                    <form action="/adminVerify/decline" method="post">
                        <input type="hidden" name="userId" value="<%= user._id %>">
                        <button class="btn btn-primary mt-3" type="submit">Decline</button>
                    </form>
                </li>
            <% }); %>
        </ul>
    <% } else { %>
        <p>No unverified users.</p>
    <% } %>
    <a href="/profile">Back to Profile</a>
    <div class="TD TDsecond">
        <button id="job-post-button" class="btn btn-danger mt-3" type="submit">
        <a style="color: white;" href="/export-data-all">Export Data to Excel</a>
        </button>
        </div>
        <hr>
</body>
</html>
